[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh-custom/zsh-autocomplete"]
	path = zsh-custom/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "zsh-custom/fast-syntax-highlighting"]
	path = zsh-custom/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh-custom/zsh-autosuggestions"]
	path = zsh-custom/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
